.skills__tab img{
    height: 1rem;
    margin-right: 10px;
}
.skills__header{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background: #120800;
}

.skills__tab{
    width: 10rem;
    background: #241e1a;
    margin-top: 8px;
    padding: 8px;
    align-items: baseline;
    border-radius: 5px 5px 0 0;
}

.skills__content{
    background: #191919;
}

.skill__name{
    font-size: 13px;
}

.skills__container{
    display: flex;
}

.skills__box{
    margin-bottom: 1rem;
}

.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin-top: 0.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.skill img{
    height: 4rem;
    width: 4rem;
    padding: 1rem;
    background-color: #120800;
    border-radius:30%;
    margin-bottom: 0.5rem;
}

/*Mobile*/
@media screen and (max-width: 600px) {
    
    .skills__container{
        flex-wrap: wrap;

    }

    .skills__content{
        padding: 0.5rem;
    }

    .skill img{
        height: 3rem;
        width: 3rem;
        padding: 0.5rem;
    }

}


