nav{
    position: absolute;
    bottom: 0;
    background-color: #202020;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 0;
    box-sizing: border-box;
    width: 100%;
    color: white;
}

.start{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}


.end{
    gap: 0.3rem;
    align-items: flex-end;
}