body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: url('./Assets/wallpaper.jpg');
  background-size: cover;
  color: white;
}

.flex_vr{
  display: flex;
  flex-direction: column;
}

.flex_hr{
  display: flex;
  flex-direction: row;
}

.icon{
  height: 2rem;
  margin: 0.5rem 0.5rem 0 0 ;
  cursor: pointer;
}

section{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}