body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: url('./Assets/wallpaper.jpg');
  background-size: cover;
  color: white;
}

.flex_vr{
  display: flex;
  flex-direction: column;
}

.flex_hr{
  display: flex;
  flex-direction: row;
}

section{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* Action Icon CSS */
.icon_nav {
  cursor: pointer;
  padding: 5px;
}

.icon_nav:hover {
  background: #124078;
}

.danger:hover {
  background: red;
}

/* Logical CSS */
.hide{
  display: none;
}

.show{
  display: block;
}

/* Mobile View */
@media only screen and (max-width: 450px) {
  body{
    height: 100vh;
    background-position: center;
  }
}