.container{
    display: flex;
}

.nav_icon{
    height: 3rem;
    cursor: pointer;
    display: block;
}

.navs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
}

.nav_item{
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.explorer{
    box-sizing: border-box;
}