.main{
    width: 100%;
    box-sizing: border-box;
    background: #2B579A;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

header{
    display: flex;
    justify-content: space-between;
}

.icon_nav{
    cursor: pointer;
    padding: 5px;
}

.icon_nav:hover{
    background: #124078;
}

.danger:hover{
    background: red;
}

.end .account{
    padding-right: 8px;
}

.menu{
    margin-top: 8px;
}
.menu span{
    padding: 3px;
    cursor: pointer;
}

.about_container{
    background: #E6E6E6;
    padding: 2rem;
    border-radius: 0 0 10px 10px;
}

.content{
    background: #ffffff;
    padding: 1rem;
}

.content img{
    display: block;
    margin: 0 auto;
}

.content p{
    text-align: justify;
    color: black;
}