.aboutme__main {
    width: 100%;
    box-sizing: border-box;
    background: #2B579A;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header {
    display: flex;
    justify-content: space-between;
}

.end .account {
    padding-right: 8px;
}

.aboutme__menu {
    margin-top: 8px;
}

.aboutme__menu span {
    padding: 3px;
    cursor: pointer;
}

.about_container {
    background: #E6E6E6;
    padding: 2rem;
    border-radius: 0 0 10px 10px;
}

.about__content {
    background: #ffffff;
    padding: 1rem;
}

.about__content img {
    display: block;
    margin: 0 auto;
}

.about__content p {
    text-align: justify;
    color: black;
}